.siyah {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  li a { 
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {
      float: left;
  }

.baslik {
    text-align: center;
    color: red;
}
#resim {
padding-left: 350px ;
padding-right: 300px ;


}
li a:hover {
    background-color: #111;
}